$left-part: 25%;
$font-body: 16px;
$font-color: black;
$bg-color: white;
$break-small: 320px;
$header-border-color: #eee;
$block-border-color: #555;
$block-color: #eee;
$block-margin: 8%;
$font-body: 16px;
$sections-margin: 20px;
