$block-border-color: #555;
$block-color: #eee;
$block-margin: 8%;
$font-body: 16px;
$sections-margin: 20px;

article {
  clear: both;
  text-align: left;

  h1 {
    font: {
      size: 1.3em;
      weight: bold;
    }
  }

  h2 {
    font: {
      size: 1.1em;
      weight: bold;
    }
  }
  ul  {
    margin: $sections-margin 0;
    margin-left: $block-margin / 2;
    list-style-type: square;
    list-style-position: inside;
  }
}

section.read-more {
  text-align: left;
  font-size: $font-body - 2px;
  margin: $sections-margin 0;
  h1 { font-weight: bold;}

  ul {
    margin-left: $sections-margin;
  }
}

p {
  margin: $sections-margin 0;
  text-indent: $block-margin / 2;
  code {
    font-size: 0.8em;
  }
}


pre {
  padding: $block-margin / 2;
  border: 1px dotted $block-border-color;
  background-color: $block-color;
  font-size: 12px;
  line-height: 1.5em;
  overflow: hidden;
}

code, kbd, code span {
  font-family: Monaco, Courier New, monospace;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

blockquote {
  font-family: Georgia, sans-serif;
  text-align: left;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: $block-margin / 2;
  border-left: 2px solid black;

  p {
    margin-left: $block-margin / 2;
    text-indent: 0;
  }
}
