$block-border-color: #555;
$block-color: #eee;
$block-margin: 8%;

article {
  clear: both;
  text-align: left;
}

article h1 {
  font: {
    size: 1.3em;
    weight: bold;
  }
}

p {
  margin: 20px 0;
}

pre {
  margin: $block-margin / 2;
  padding: $block-margin / 2;
  border: 1px dotted $block-border-color;
  background-color: $block-color;
}

code, kbd {
  font-family: Courier New, monospace;
}
