@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";

@import "constants";

body {
  color: $font-color;
  width: 100%;
  text-align: center;
  font: $font-body 'Open Sans', 'sans-serif';

  margin: auto auto;
  line-height: 1.8em;
  background-image: url('/images/noise.jpg');
}

h1,h2,h3 {
  color: $font-color;
}

header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: $left-part;
  position: fixed;
  padding-top: 20px;

  @media screen and (max-width: $break-small) {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $header-border-color;
    padding-bottom: 20px;
  }

  text-align: center;

  .avatar {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    @include border-radius(50%);
    @include box-shadow(#ccc 0 0 5px);
    img {
      @include border-radius(50%);
    }
  }

  h1 {
    margin-left: 6px;
    line-height: 70px;
    vertical-align: middle;
    display: inline-block;
    font: {
      size: 2em;
      weight: 700;
    }
  }
  a, a:hover, a:visited{
    margin: 5px 0;
    color: $font-color;
    text-decoration: none;
    font-weight: 700;
  }

  .author-desc {
    clear: both;
    padding: 10px 0;
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  $icon-size: 52px;

  #book {
    margin: 30px 0;
    font-size: 1.3em;
    img {
      @include box-shadow(#ddd 0 0 5px);
      margin-bottom: 5px;
    }
  }

  .profiles {
    div {
      margin-right: 10px;
    }
    a {
      display: block;
      float: left;
      margin: 0;
    }
  }

  #github, #twitter {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    background-color: white;
    @include border-radius(50%);
    @include box-shadow(#ccc 0 0 5px);
    border: 1px solid #ccc;
  }

  #github > a, #twitter > a {
    @include border-radius(50%);
    vertical-align: baseline;
    width: $icon-size;
    height: $icon-size;
    background-position: 0 0;
  }

  #github > a { background: url(/images/octocat.png) no-repeat center; }
  #twitter > a { background: url(/images/twitter.png) no-repeat center; }
}

#content {
  margin-left: $left-part;
  border-left: 1px solid $header-border-color;
  padding: 20px 40px 50px;
  @media screen and (max-width: $break-small) {
    margin-left: 0;
    border-left: none;
  }
}

article, section, nav {
  a, a:hover { padding: 3px; }
  a {
    font-weight: bold;
    color: $font-color;
  }

  a:hover {
    background-color: $font-color + #eee;
  }

  a:visited {
    color: $font-color + #666;
  }
}

footer {
  margin-left: $left-part;
  font-size: 0.8em;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3%;
  border-top: 1px dotted black;
  a, a:hover, a:visited {
    color: $font-color + #666;
  }
  li {
    display: inline;
    margin: 0 10px;
  }
}

.image-icon {
  text-indent: -9999px;
}
