/* line 7, ../_sass/content.scss */
article {
  clear: both;
  text-align: left;
}
/* line 11, ../_sass/content.scss */
article h1 {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 18, ../_sass/content.scss */
article h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 20px;
}
/* line 25, ../_sass/content.scss */
article ul {
  margin: 20px 0;
  margin-left: 4%;
  list-style-type: square;
  list-style-position: inside;
}

/* line 33, ../_sass/content.scss */
section.read-more {
  text-align: left;
  font-size: 14px;
  margin: 20px 0;
}
/* line 37, ../_sass/content.scss */
section.read-more h1 {
  font-weight: bold;
}
/* line 39, ../_sass/content.scss */
section.read-more ul {
  margin-left: 20px;
}

/* line 44, ../_sass/content.scss */
p {
  margin: 20px 0;
  text-indent: 4%;
}
/* line 47, ../_sass/content.scss */
p code {
  font-size: 0.8em;
}

/* line 53, ../_sass/content.scss */
pre {
  padding: 4%;
  border: 1px dotted #555555;
  background-color: #eeeeee;
  font-size: 12px;
  line-height: 1.5em;
  overflow: hidden;
}

/* line 62, ../_sass/content.scss */
code, kbd, code span {
  font-family: Monaco, Courier New, monospace;
}

/* line 66, ../_sass/content.scss */
em {
  font-style: italic;
}

/* line 70, ../_sass/content.scss */
strong {
  font-weight: bold;
}

/* line 74, ../_sass/content.scss */
img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

/* line 80, ../_sass/content.scss */
blockquote {
  font-family: Georgia, sans-serif;
  text-align: left;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4%;
  border-left: 2px solid black;
}
/* line 89, ../_sass/content.scss */
blockquote p {
  margin-left: 4%;
  text-indent: 0;
}
