/* line 7, ../_sass/content.scss */
article {
  clear: both;
  text-align: left;
}

/* line 12, ../_sass/content.scss */
article h1 {
  font-size: 1.3em;
  font-weight: bold;
}

/* line 19, ../_sass/content.scss */
section.read-more {
  text-align: left;
  font-size: 14px;
  margin: 20px 0;
}

/* line 24, ../_sass/content.scss */
section.read-more h1 {
  font-weight: bold;
}

/* line 25, ../_sass/content.scss */
section.read-more ul {
  margin-left: 20px;
}

/* line 29, ../_sass/content.scss */
p {
  margin: 20px 0;
}

/* line 33, ../_sass/content.scss */
pre {
  margin: 4%;
  padding: 4%;
  border: 1px dotted #555555;
  background-color: #eeeeee;
}

/* line 40, ../_sass/content.scss */
code, kbd {
  font-family: Courier New, monospace;
}
