/* line 7, ../_sass/content.scss */
article {
  clear: both;
  text-align: left;
}
/* line 11, ../_sass/content.scss */
article h1 {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 18, ../_sass/content.scss */
article h2 {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 24, ../_sass/content.scss */
article ul {
  margin-left: 4%;
  list-style-type: square;
}

/* line 30, ../_sass/content.scss */
section.read-more {
  text-align: left;
  font-size: 14px;
  margin: 20px 0;
}
/* line 34, ../_sass/content.scss */
section.read-more h1 {
  font-weight: bold;
}
/* line 36, ../_sass/content.scss */
section.read-more ul {
  margin-left: 20px;
}

/* line 41, ../_sass/content.scss */
p {
  margin: 20px 0;
  text-indent: 4%;
}
/* line 44, ../_sass/content.scss */
p code {
  font-size: 0.8em;
}

/* line 50, ../_sass/content.scss */
pre {
  margin: 4%;
  padding: 4%;
  border: 1px dotted #555555;
  background-color: #eeeeee;
  font-size: 12px;
  line-height: 1.2em;
  overflow: hidden;
}

/* line 60, ../_sass/content.scss */
code, kbd, code span {
  font-family: Monaco, Courier New, monospace;
}

/* line 64, ../_sass/content.scss */
em {
  font-weight: bold;
}

/* line 68, ../_sass/content.scss */
img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

/* line 74, ../_sass/content.scss */
blockquote {
  font-family: Georgia, sans-serif;
  text-align: left;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4%;
  border-left: 2px solid black;
}
