/* line 10, ../_sass/general.scss */
body {
  color: black;
  width: 100%;
  text-align: center;
  font: 16px "Open Sans", "sans-serif";
  margin: auto auto;
  line-height: 1.8em;
  background-image: url("/images/noise.jpg");
}

/* line 21, ../_sass/general.scss */
h1, h2, h3 {
  font-color: black;
}

/* line 25, ../_sass/general.scss */
header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 25%;
  position: fixed;
  padding: 20px 0 0 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 34, ../_sass/general.scss */
header .avatar {
  float: left;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: #cccccc 0 0 5px;
  -moz-box-shadow: #cccccc 0 0 5px;
  box-shadow: #cccccc 0 0 5px;
}
/* line 43, ../_sass/general.scss */
header .avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 48, ../_sass/general.scss */
header h1 {
  margin-left: 6px;
  line-height: 70px;
  vertical-align: middle;
  float: left;
  font-size: 2em;
  font-weight: 700;
}
/* line 58, ../_sass/general.scss */
header a, header a:hover, header a:visited {
  margin: 5px 0;
  color: black;
  text-decoration: none;
  font-weight: 700;
}
/* line 65, ../_sass/general.scss */
header .author-desc {
  clear: both;
  padding: 10px 0;
}
/* line 72, ../_sass/general.scss */
header #book {
  margin: 30px 0;
  font-size: 1.3em;
}
/* line 75, ../_sass/general.scss */
header #book img {
  -webkit-box-shadow: #dddddd 0 0 5px;
  -moz-box-shadow: #dddddd 0 0 5px;
  box-shadow: #dddddd 0 0 5px;
  margin-bottom: 5px;
}
/* line 81, ../_sass/general.scss */
header #book + * {
  margin-left: 30%;
}
/* line 85, ../_sass/general.scss */
header #book ~ * {
  margin-right: 10px;
  display: block;
  float: left;
}
/* line 89, ../_sass/general.scss */
header #book ~ * a {
  display: inline-block;
  margin: 0;
}
/* line 95, ../_sass/general.scss */
header #github, header #twitter {
  width: 52px;
  height: 52px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: #cccccc 0 0 5px;
  -moz-box-shadow: #cccccc 0 0 5px;
  box-shadow: #cccccc 0 0 5px;
  border: 1px solid #ccc;
}
/* line 104, ../_sass/general.scss */
header #github > a, header #twitter > a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  vertical-align: baseline;
  width: 52px;
  height: 52px;
  background-position: 0 0;
}
/* line 112, ../_sass/general.scss */
header #github > a {
  background: url(/images/octocat.png) no-repeat center;
}
/* line 113, ../_sass/general.scss */
header #twitter > a {
  background: url(/images/twitter.png) no-repeat center;
}

/* line 116, ../_sass/general.scss */
#content {
  margin-left: 25%;
  border-left: 1px solid #eee;
  padding: 20px 40px 50px;
}

/* line 123, ../_sass/general.scss */
article a, article a:hover, section a, section a:hover, nav a, nav a:hover {
  padding: 3px;
}
/* line 124, ../_sass/general.scss */
article a, section a, nav a {
  font-weight: bold;
  color: black;
}
/* line 129, ../_sass/general.scss */
article a:hover, section a:hover, nav a:hover {
  background-color: #eeeeee;
}
/* line 133, ../_sass/general.scss */
article a:visited, section a:visited, nav a:visited {
  color: #666666;
}

/* line 138, ../_sass/general.scss */
footer {
  margin-left: 25%;
  font-size: 0.8em;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3%;
  border-top: 1px dotted black;
}
/* line 145, ../_sass/general.scss */
footer a, footer a:hover, footer a:visited {
  color: #666666;
}
/* line 148, ../_sass/general.scss */
footer li {
  display: inline;
  margin: 0 10px;
}

/* line 154, ../_sass/general.scss */
.image-icon {
  text-indent: -9999px;
}
