/* line 14, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML 5 CSS Reset */
/* line 4, ../_sass/screen.scss */
section, article, header, footer {
  display: block;
}

/* line 7, ../_sass/general.scss */
body {
  color: black;
  background-color: white;
  width: 600px;
  text-align: center;
  font: 16px Palatino Linotype, Book Antiqua, Palatino, Georgia, serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8em;
}

/* line 20, ../_sass/general.scss */
h1, h2, h3 {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-color: black;
}

/* line 27, ../_sass/general.scss */
header {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid black;
}
/* line 35, ../_sass/general.scss */
header h1 {
  height: 50px;
  font-size: 4em;
  font-weight: 800;
  letter-spacing: -0.07em;
}
/* line 42, ../_sass/general.scss */
header h1 a, header h1 a:hover, header h1 a:visited {
  color: black;
  background-color: white;
  text-decoration: none;
}
/* line 49, ../_sass/general.scss */
header h2 {
  font-size: 1.5em;
  display: inline;
}
/* line 56, ../_sass/general.scss */
header #octocat, header #twitter {
  vertical-align: baseline;
  width: 48px;
  height: 48px;
  background-position: 0 0;
  float: right;
}
/* line 63, ../_sass/general.scss */
header #octocat {
  background: url(/images/octocat.png) no-repeat;
}
/* line 64, ../_sass/general.scss */
header #twitter {
  background: url(/images/twitter.png) no-repeat;
}
/* line 65, ../_sass/general.scss */
header #octocat:hover, header #twitter:hover {
  background-position: -48px;
}

/* line 71, ../_sass/general.scss */
article a, article a:hover, section a, section a:hover, nav a, nav a:hover {
  padding: 3px;
}
/* line 72, ../_sass/general.scss */
article a, section a, nav a {
  font-weight: bold;
  color: black;
}
/* line 77, ../_sass/general.scss */
article a:hover, section a:hover, nav a:hover {
  background-color: #eeeeee;
}
/* line 81, ../_sass/general.scss */
article a:visited, section a:visited, nav a:visited {
  color: #666666;
}

/* line 86, ../_sass/general.scss */
footer {
  font-size: 0.8em;
  margin: 3%;
  padding: 3%;
  border-top: 1px dotted black;
}
/* line 91, ../_sass/general.scss */
footer a, footer a:hover, footer a:visited {
  color: #666666;
}
/* line 94, ../_sass/general.scss */
footer li {
  display: inline;
  margin: 0 10px;
}

/* line 100, ../_sass/general.scss */
.image-icon {
  text-indent: -9999px;
}

/* line 7, ../_sass/content.scss */
article {
  clear: both;
  text-align: left;
}
/* line 11, ../_sass/content.scss */
article h1 {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 18, ../_sass/content.scss */
article h2 {
  font-size: 1.1em;
  font-weight: bold;
}
/* line 24, ../_sass/content.scss */
article ul {
  margin-left: 4%;
  list-style-type: square;
}

/* line 30, ../_sass/content.scss */
section.read-more {
  text-align: left;
  font-size: 14px;
  margin: 20px 0;
}
/* line 34, ../_sass/content.scss */
section.read-more h1 {
  font-weight: bold;
}
/* line 36, ../_sass/content.scss */
section.read-more ul {
  margin-left: 20px;
}

/* line 41, ../_sass/content.scss */
p {
  margin: 20px 0;
  text-indent: 4%;
}
/* line 44, ../_sass/content.scss */
p code {
  font-size: 0.8em;
}

/* line 50, ../_sass/content.scss */
pre {
  margin: 4%;
  padding: 4%;
  border: 1px dotted #555555;
  background-color: #eeeeee;
  font-size: 12px;
  line-height: 1.0em;
  overflow: hidden;
}

/* line 60, ../_sass/content.scss */
code, kbd, code span {
  font-family: Monaco, Courier New, monospace;
}

/* line 64, ../_sass/content.scss */
em {
  font-weight: bold;
}

/* line 68, ../_sass/content.scss */
img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

/* line 1, ../_sass/home.scss */
.posts {
  width: 80%;
  margin: auto;
  text-align: left;
}
