<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Vinicius Baggio Fuentes" />
        <meta name="description" content="Blog pessoal de Vinicius Baggio
        Fuentes, escrevendo sobre programação e ferramentas." />
        <meta name="keywords" content="programação, vinibaggio, javascript,
        ruby, objective-c, iphone, ios, vim"/>

        <title>{{ page.title }} &mdash; vinibaggio.com - refactoring myself each day</title>

        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link rel="alternate" type="application/atom+xml" title="vinibaggio.com" href="http://www.vinibaggio.com/atom.xml" />

    </head>

    <body>
      <header>
        <h1><a href="/">vinibaggio.com</a></h1>
        <h2>refactoring myself each day.</h2>
        <a href="http://www.github.com/vinibaggio" id="octocat" class="image-icon" title="Meu perfil no GitHub">GitHub</a>
        <a href="http://www.twitter.com/vinibaggio" id="twitter" class="image-icon" title="Meu Twitter">Twitter</a>
      </header>
      <nav>
        {{ content }}
      </nav>
      <footer>
        <ul>
          <li>
          <li><a href="/" title="Página inicial">Home</a></li>
          <li>
            <a href="http://github.com/vinibaggio/vinibaggio.github.com"
              title="Código fonte do blog no GitHub">
              Código fonte
            </a>
          </li>
          <li><a href="/licenca.html">Licença</a></li>
        </ul>
        vinibaggio.com &mdash; alguns direitos reservados.
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </footer>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6968963-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </body>
</html>
