<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Vinicius Baggio Fuentes" />

        <title>{{ page.title }} &mdash; vinibaggio.com - refactoring myself each day</title>

        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>

    <body>
      <header>
        <h1><a href="/">vinibaggio.com</a></h1>
        <h2>refactoring myself each day.</h2>
        <a href="http://www.github.com/vinibaggio" id="octocat" class="image-icon" title="Meu perfil no GitHub">GitHub</a>
        <a href="http://www.twitter.com/vinibaggio" id="twitter" class="image-icon" title="Meu Twitter">Twitter</a>
      </header>
      <article>
        {{ content }}
      </article>
      <footer>
        vinibaggio.com - nenhum direito reservado.
        <ul>
        </ul>
      </footer>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /**
          * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
          */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://vinibaggio.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=vinibaggio">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      <script type="text/javascript">
      var disqus_shortname = 'vinibaggio';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = 'http://disqus.com/forums/vinibaggio/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      </script>
    </body>
</html>

