<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Vinicius Baggio Fuentes" />
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="{{ page.keywords }}"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:description" content="{{ page.description }} " />

        <title>{{ page.title }}</title>

        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/syntax.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <link rel="alternate" type="application/atom+xml" title="vinibaggio.net" href="http://vinibaggio.net/atom.xml" />
    </head>

    <body>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6968963-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
      <header>
        <div class="avatar">
          <img src="/images/me.png"/>
        </div>
        <h1>
          <a href="/">Vinicius Baggio Fuentes</a>
        </h1>
        <ol class="author-desc">
          <li>
            Software Engineer &mdash; <a href="http://www.pivotallabs.com">Pivotal Labs</a>
          </li>
          <li>
            Autor &mdash; <a href="http://www.casadocodigo.com.br">Casa do Código</a>
          </li>
          <li id="book">
          <a href="http://casadocodigo.com.br/products/ruby-on-rails-coloque-sua-aplicacao-web-nos-trilhos" title="Livro Ruby on Rails: Coloque sua aplicação web nos trilhos"><img src="/images/ror-book.jpeg"/>Compre já!</a>
          </li>
          <li id="github">
            <a href="http://www.github.com/vinibaggio" class="image-icon" title="Meu perfil no GitHub">GitHub</a>
          </li>
          <li id="twitter">
            <a href="http://www.twitter.com/vinibaggio" class="image-icon" title="@vinibaggio">@vinibaggio</a>
          </li>
        </section>
      </header>
      <div id="content">
      <article>
        <section class="title">{{ page.date | date_to_string }} &mdash; {{ page.title }}</section>
        {{ content }}
      </article>
      <section class="read-more">
        <h1>Leia também</h1>
        <ul>
          {% for post in site.related_posts limit:3 %}
          <li>
            <span>{{ post.date | date: '%d/%m/%Y' }}</span> &raquo;
            <a href="{{ post.url }}">{{ post.title }}</a> &mdash; na(s) categoria(s):
            {{ post.categories | array_to_sequence_strings }}
          </li>
          {% endfor %}
        </ul>
      </section>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /**
          * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
          */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://vinibaggio.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=vinibaggio">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      <footer>
        <ul>
          <li><a href="/" title="Página inicial">Home</a></li>
          <li><a href="#" title="Subir">Topo</a></li>
          <li>
            <a href="http://github.com/vinibaggio/vinibaggio.github.com"
              title="Código fonte do blog no GitHub">
              Código fonte
            </a>
          </li>
          <li><a href='/licenca.html'>Licença</a></li>
        </ul>
        vinibaggio.net &mdash; alguns direitos reservados.
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </footer>
      </div>
      <script type="text/javascript">
      var disqus_shortname = 'vinibaggio';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = 'http://disqus.com/forums/vinibaggio/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      </script>
    </body>
</html>

