<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Vinicius Baggio Fuentes" />
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="{{ page.keywords }}"/>

        <title>{{ page.title }} &mdash; vinibaggio.com - refactoring myself each day</title>

        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/syntax.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>

    <body>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6968963-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
      <header>
        <h1><a href="/">vinibaggio.com</a></h1>
        <h2>refactoring myself each day.</h2>
        <a href="http://www.github.com/vinibaggio" id="octocat" class="image-icon" title="Meu perfil no GitHub">GitHub</a>
        <a href="http://www.twitter.com/vinibaggio" id="twitter" class="image-icon" title="Meu Twitter">Twitter</a>
      </header>
      <article>
        {{ content }}
      </article>
      <section class="read-more">
        <h1>Leia também</h1>
        <ul>
          {% for post in site.related_posts limit:3 %}
          <li>
            <span>{{ post.date | date: '%d/%m/%Y' }}</span> &raquo;
            <a href="{{ post.url }}">{{ post.title }}</a> &mdash; na(s) categoria(s):
            {{ post.categories | array_to_sequence_strings }}
          </li>
          {% endfor %}
        </ul>
      </section>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /**
          * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
          */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://vinibaggio.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=vinibaggio">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      <footer>
        <ul>
          <li><a href="/" title="Página inicial">Home</a></li>
          <li><a href="#" title="Subir">Topo</a></li>
          <li>
            <a href="http://github.com/vinibaggio/vinibaggio.github.com"
              title="Código fonte do blog no GitHub">
              Código fonte
            </a>
          </li>
          <li><a href='/licenca.html'>Licença</a></li>
        </ul>
        vinibaggio.com &mdash; alguns direitos reservados.
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </footer>
      <script type="text/javascript">
      var disqus_shortname = 'vinibaggio';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = 'http://disqus.com/forums/vinibaggio/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      </script>
    </body>
</html>

